.bg {
  background-image: url(../images/rain/rain_1.jpg);
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  left: px;
  width: calc(100vw);
  height: calc(100vh);
  z-index: -1;
  filter: blur(30px);
}

body {
  background-image: url(../images/rain/rain_1.jpg);
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  left: px;
  width: calc(100vw);
  height: calc(100vh);
  color: antiquewhite;
}
.container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
}

#current_div {
  /* border: 2px solid black;
  border-radius: 20px; */
  display: inline-block;
  padding: 10px;
  margin: 10px;
}

#forecast_div {
  /* border: 2px solid black;
  border-radius: 20px; */
  display: inline-block;
  padding: 10px;
  margin: 30px;
  /*Weird behavior with Margin, if margin is too small, the table rows don't display on individual rows*/
}
table {
  border-collapse: separate;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
}

td {
  text-align: right;

  border-radius: 5px;
}

#seven_day {
  display: inline;
}

.hidden {
  visibility: collapse;
}

.wi {
  font-size: 2.5em;
  display: inline-block;
}

#geolocation {
  position: absolute;
  top: 0;
  right: 0;
}

.loading-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 50px;
  color: wheat;
}
